.alt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: var(--vertical-space) var(--horizontal-space);
}

.alt-header__title {
  font-size: 30px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__column:last-child i {
  padding: 0px 20px;
}
